/* Balises générales */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}