/* Footer */

.footer {
    background-color: black;

    &__logof {
        display: flex;
        justify-content: left;
        padding-top: 20px;
        margin-left: 20px;

        &__image {
            max-width: 150px;
            @include white-logo-filter;
            width: 120px;
            font-size: small;
            
        }
    }

    &__link {
        display: flex;
        justify-content: left;
    

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            li {
                margin: 0 10px;
                display: inline-block;
                padding-top: 10px;
                padding-left: 20px;
                a {
                    color: white; 
                }
                i {
                padding-right: 20px ; 
                }
                
            }   
        }
                
    }

    @media (min-width: $desktop-min-width) {
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: right;
        .footer__logof {
            padding-top: 10px;
            padding-right: 20px;
        }
        ul {
                display: flex;
                flex-direction: row;
                align-items: center;
            
        }
    }
}
