/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 80px;
            width: 100%;
        }
        .header-back { 
            display: flex;
            align-items: center;
            margin-right: 0; 
            padding-left: 20px;      
            span i.fa-solid.fa-arrow-left.custom-icon {
                font-weight: bold;
                font-size: 24px;
                color:black;
            } 
        }
    }
}