/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .header__logo {
        img {
            max-width: 100px;
            padding: 20px 80px;
        }
    }
}