/* Header */

header {
    padding: 10px;
    .arrow-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img{
                width: 197px;
            }
        }
        .arrow {
            align-items: center;
            font-size: large;
        }
    
    }   
}