/* Page d'accueil */
.localisation {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-right: 0;
    i {
        padding: 10px;
    }
    input {
        background-color: inherit;
        color: black;
        font-weight: bold;
        font-size: 1em;
        border: none; 
        }
}

.explor { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    margin-bottom: 50px;
    h1 {
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        padding: 0 20px;
        text-align: center;
    }
    p {
        color: rgb(121, 105, 105);
        padding: 0 20px;
        text-align: center;
    }
    .button {
        @include button($secondaire, $primaire, $secondaire_hover, $primaire_hover);
        border-radius: 20px;
        margin-bottom: 50px;
        
    }
}

.fonctionnement {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    &__etapes {
        width: 100%;
        padding: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                display: flex;
                align-items: center;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
                position: relative;
            }
            .etapes__i {
                padding: 5px 10px 5px 10px;
                background-color: $primaire;
                border: none;
                border-radius: 20px;
                position: absolute;
                color: white;
            }
            li i {
                margin: 0 20px 0 20px;
            }
            .etapes__boutton {
                padding: 30px;
                margin-left: 20px;
                border-radius: 30px;
                background-color: $bg-color;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                .fa-store {
                    color: $primaire;
                }
                .fa-mobile-screen-button, .fa-list {
                    color: rgb(121, 105, 105);
                }

            }
            }
        }
}

.restaurants__card {
    position: relative;
    img {
        width: 100%;
    }
    .card__nouveau {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        color: rgb(35, 90, 35);
        background-color: $tertiaire;
        padding: 5px ;
    }
    .card__content {
        position: relative;
        .content__title {
            position: relative;
            h3, p {
                color: black;
                text-decoration: none;
            }
        }
        .content__heart {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 50px;
                
            .fa-heart {
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity 0.3s;
                color: $primaire;
            }
                    
            .fa-regular.fa-heart{
                opacity: 1;
                z-index: 2;
            }
            .fa-solid.fa-heart {
                opacity: 0; // Initialement invisible
                z-index: 1;
            }

            &:hover .fa-regular.fa-heart {
                opacity: 0; // Lorsque survolé, devient invisible
            }

            &:hover .fa-solid.fa-heart {
                opacity: 1; // Lorsque survolé, devient visible
            }
        }
        
    }
}

@media (min-width: 1024px){

    .exemple{
        background-color: pink;
        &__flex{
            display: flex;
        }
        button{
            width: 50%;
        }
        &__title{
            color: green;
        }
        &__text{
            color: orange;
        }
    }

}