$rotation-duration: 2s; /* Durée de la rotation accélérée */
$transition-duration: 1.5s;
$visible-duration: 5s; /* Durée pendant laquelle le loader reste visible */
$fade-duration: 1.5s; /* Durée de la disparition */
$background-opacity: 0.8; /* Opacité du fond */

.loader {
  position: fixed;
  top: 50%; /* Position initiale au centre */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Taille du loader pour couvrir tout l'écran */
  height: 100vh;
  background-color: rgba(255, 255, 255, $background-opacity); /* Fond opaque */
  z-index: 3;
  opacity: 1;
  pointer-events: all;
  animation: loader $visible-duration + $fade-duration ease-in-out forwards;

  .square {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &.square1 {
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      animation: rotate1 $rotation-duration linear infinite;
    }

    &.square2 {
      width: 150px;
      height: 150px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transform-origin: center;
      animation: rotate2 $rotation-duration linear infinite reverse;
    }

    .icon {
      position: absolute;
      font-size: 30px;

      &:nth-child(1) { top: 0; left: 0; }
      &:nth-child(2) { bottom: 0; left: 0; }
      &:nth-child(3) { bottom: 0; right: 0; }
      &:nth-child(4) { top: 0; right: 0; }
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(315deg); /* -45 + 360 */
  }
}

@keyframes loader {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
