

.loader {
  position: fixed;
  top: 50%; /* Position initiale au centre de l'écran verticalement */
  left: 50%; /* Position initiale au centre de l'écran horizontalement */
  transform: translate(-50%, -50%);  /* Ajustement pour centrer exactement */
  width: 120vw; /* Taille du loader pour couvrir tout l'écran horizontalement*/
  height: 100vh; /* Taille du loader pour couvrir tout l'écran verticalement */
  background-color: rgba(255, 255, 255, $background-opacity); /* Fond semi-transparent */
  z-index: 3; /* Priorité d'affichage supérieure pour le loader */
  opacity: 1; /* Loader visible au départ */
  pointer-events: none; /* Empêcher les interactions avec le contenu sous-jacent */
  animation: loader $visible-duration + $fade-duration ease-in-out forwards; /* Animation combinée de visibilité et de disparition du loader */

  .square {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrage du contenu de chaque carré */

    &.square1 {
      width: 100px; /* Taille du premier carré */
      height: 100px;
      top: 50%; /* Centrage vertical du premier carré */
      left: 50%; /* Centrage horizontal du premier carré */
      transform: translate(-50%, -50%);  /* Ajustement pour centrer exactement le premier carré */
      transform-origin: center; /* Point d'origine des transformations au centre du carré */
      animation: rotate1 $rotation-duration linear infinite; /* Animation de rotation constante */
      .icon:nth-child(1) { top: 0; left: 0; color: red; }
      .icon:nth-child(2) { bottom: 0; left: 0; color: orange; }
      .icon:nth-child(3) { bottom: 0; right: 0; color: yellow; }
      .icon:nth-child(4) { top: 0; right: 0; color: yellowgreen; }
    }

    &.square2 {
      width: 150px;
      height: 150px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transform-origin: center;
      animation: rotate2 $rotation-duration linear infinite reverse; /* Animation de rotation constante inversée */
      .icon:nth-child(1) { top: 0; left: 0; color: cornflowerblue; }
      .icon:nth-child(2) { bottom: 0; left: 0; color: rgb(0, 94, 255); }
      .icon:nth-child(3) { bottom: 0; right: 0; color: palevioletred; }
      .icon:nth-child(4) { top: 0; right: 0; color: purple; }
    }

    .icon {
      position: absolute;
      font-size: 30px;

      
  }
}
/* Animation de rotation pour le premier carré */
@keyframes rotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotation complète */
  }
}
/* Animation de rotation pour le deuxième carré */
@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(315deg); /* Rotation totale de -45 + 360 degrés */
  }
}
/* Animation de disparition du loader */
@keyframes loader {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: all; /* Réactiver les interactions avec le contenu sous-jacent après la disparition */
  }
}
}