/* Styles pour les menus*/

$transition-duration: 0.3s; /* Durée de la transition pour les déplacements et les changements d'opacité des prix et des icônes de vérification */

/* Styles pour l'image de la bannière */
.banner-image {
  img {
    width: 100%;
    height: 275px;
    object-fit: cover; /* L'image couvre toute la bannière en gardant son aspect ratio */
  }
}

.menu {
  max-width: 1100px;
  margin: 0 auto;
  background-color: $bg-color;
  padding-bottom: 30px;

  &__title {
    display: flex;
    z-index: 1; /* Place l'élément au-dessus des autres avec un z-index inférieur */
    transform: translateY(-40px);
    background-color: $bg-color;
    margin-bottom: -10px;
    border-radius: 50px 50px 0 0; /* Coins arrondis en haut de la section */
    justify-content: center;
    padding: 0 50px;

    h1 {
      font-size: 28px;
      margin-left: 0;
      font-family: 'Shrikhand', cursive;
      display: inline-block;
    }

    .heart {
      font-size: 25px;
      position: relative;
      top: 25px;
      left: 15px;

      .fa-heart {
        position: absolute;
        transition: opacity 0.3s; /* Transition douce pour le changement d'opacité */
        margin-right: 40px;
      }

      .fa-regular.fa-heart {
        opacity: 1; /* Visible par défaut */
        z-index: 2; /* Position au-dessus de l'icône solide */
      }

      .fa-solid.fa-heart {
        opacity: 0; /* Initialement invisible */
        z-index: 1;
        background: linear-gradient(to bottom, $secondaire, $primaire);
        color: transparent; /* Couleur de l'icône transparente pour que le dégradé soit visible */
        background-clip: text; /* Applique le dégradé à l'icône */
      }

      &:hover .fa-regular.fa-heart {
        opacity: 0; /* Lors du survol, rendre invisible */
      }

      &:hover .fa-solid.fa-heart {
        opacity: 1; /* Lors du survol, rendre visible */
      }
    }
  }

  &__section {
    padding: 20px;

    h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal !important;
      border-bottom: 3px solid;
      border-color: $tertiaire;
      width: 60px; /* Largeur de la bordure inférieure */
    }

    h3{
      margin-top: 0px;
      margin-bottom: 10px;
    }

    p{
      margin-top: 0px;
      margin-bottom: 0px;
    }

    ul {
      padding-left: 0px;
    }

    .menu__items {
      .menu__item {
        padding: 20px 0;
        .plat {
          position: relative;
          display: flex;
          align-items: center;
          background-color: white;
          text-align: left;
          border: none;
          border-radius: 15px; /* Coins arrondis */
          overflow: hidden; /* Masquer le débordement des éléments */
          padding: 10px;
          h3, p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .plat-info {
            padding-left: 20px;
            flex: 1;
          }

          .price-check {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            height: 100%;

            .prix {
              transition: transform $transition-duration ease; /* Animation du déplacement */
              padding-right: 20px;
              margin-bottom: 10px;
              padding-top: 30px;
              i {
                padding-left: 5px;
              }
            }

            .check-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              background-color: $tertiaire;
              padding: 0 10px;
              right: -50px; /* Position initiale en dehors de la vue */
              opacity: 0;
              height: 100%;
              width: 40px;
              top: 0;
              font-size: 30px;
              transition: right $transition-duration ease, opacity $transition-duration ease; /* Animation de la position et de l'opacité */
              i {
                color: $tertiaire; /* Couleur du "V" */
                position: relative;
                z-index: 1; /* S'assurer que le "V" est au-dessus */
                background-color: white;
                border-radius: 50%;
              }
             
            }
          }

          &:hover {
            .prix {
              transform: translateX(-50px); /* Déplacement vers la gauche */
            }

            h3, p{
              width: 70%;
            }

            .check-icon {
              right: 0; /* Déplacement dans la vue */
              opacity: 1; /* Devenir visible */
            }
          }
        }
      }
    }
  }

  

  &__commander {
    @include button($secondaire, $primaire, $secondaire_hover, $primaire_hover);
  }

  .entrees, .plats, .desserts {
    opacity: 0;
    animation: appear 1s ;
    animation-fill-mode: both; // L'animation ne revient pas à son point de départ
  }

  .entrees {
    animation-delay: 1s;
  }

  .plats {
    animation-delay: 2s;
  }

  .desserts {
    animation-delay: 3s;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
