/* Page menu */

.menu {
    background-color: $bg-color;
    &__image {
        img {
            width: 100%;
            height: auto;
            display: block;
            margin-top: 20px;
            position: relative;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        position: absolute;
        margin-top: -50px;
        z-index: 1;
        transform: translateY(-40px);
        background-color: $bg-color;
        margin-bottom: -10px;
        border-radius: 50px 50px 0 0;
        
        
        
        h1 {
            margin-left: 0;
            padding-left: 20px;
            font-family: 'Shrikhand', cursive;
            display: inline-block;
        }
        .heart {
            padding-right: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(10px);
            font-size: 30px;
            font-weight: 100;
        
            .fa-heart {
                position: absolute;
                transition: opacity 0.3s;
                color: $primaire;
            }
            
            .fa-regular.fa-heart {
                opacity: 1;
                z-index: 2;
            }
            .fa-solid.fa-heart {
                opacity: 0; // Initialement invisible
                z-index: 1;
            }

            &:hover .fa-regular.fa-heart {
                opacity: 0; // Lorsque survolé, devient invisible
            }

            &:hover .fa-solid.fa-heart {
                opacity: 1; // Lorsque survolé, devient visible
            }
        }

    }
    &__section {
        padding: 20px;
        margin-top: 20px;
        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: normal !important;
        }
        .menu__items {
            .menu__item {
                padding: 20px 0 ;
                .plat {
                        
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    text-align: left;
                    border: none;
                    border-radius: 30px;
                    .plat-info {
                        padding-left: 20px;
                    }
                    .price-check {
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        transition: background-color 0.3 ease;
                        height: 100%;
                    
                        .prix {
                                transition: transform 0.3s ease;
                                display: flex;
                                align-items: center;
                        }
                    
                        .check-icon {
                            display: none;
                            height: 100%;
                            background-color: transparent;
                            padding-right: 10px;
                            background-color: transparent;
                            transition: background-color 0.3s ease;
                                
                        }
                    }
                    &:hover {
                        .prix {
                            transform: translateX(-50%);
                            
                        }
                        .check-icon {
                            display: inline-block;
                            background-color: $tertiaire;
                        }
                    }        
                }
                
            } 
        }
    }
        
    // Transition pour faire apparaître les sections progressivement
    &__entrees {
        transition-delay: 0.2s; /* Délai pour la section Entrées */
    }

    &__plats {
        transition-delay: 0.4s; /* Délai pour la section Plats */
    }

    &__desserts {
        transition-delay: 0.6s; /* Délai pour la section Desserts */
    }
    

    &__commander {
        @include button($secondaire, $primaire, $secondaire_hover, $primaire_hover);
    }
}

@media (min-width: $desktop-min-width) {
    
}