/* Mixins */

@mixin white-logo-filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }
@mixin button($secondaire, $primaire, $secondaire_hover, $primaire_hover) {
    border: none;
    border-radius: 50px;
    width: 218px;
    height: 50px;
    background: linear-gradient(to bottom, $secondaire, $primaire);
    transition: background-color 0.3s ease;
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      background: linear-gradient(to bottom, $secondaire_hover, $primaire_hover);
    }
  }
  
