/* Variables */

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$secondaire_hover: lighten($secondaire, 10%);
$primaire_hover: lighten($primaire, 10%);
$bg-color:#F6F6F6;
$desktop-min-width: 1024px;
$transition-duration: 1.5s;
$rotation-angle: 1080deg;
$rotation-duration: 2s; /* Durée de la rotation accélérée */
$transition-duration: 1.5s;
$visible-duration: 3s; /* Durée pendant laquelle le loader reste visible */
$fade-duration: 1.5s; /* Durée de la disparition */
$background-opacity: 0.8; /* Opacité du fond */
