@charset "UTF-8";
/* Variables */
/* Durée de la rotation accélérée */
/* Durée pendant laquelle le loader reste visible */
/* Durée de la disparition */
/* Opacité du fond */
/* Balises générales */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

/* Mixins */
.loader {
  position: fixed;
  top: 50%; /* Position initiale au centre */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Taille du loader pour couvrir tout l'écran */
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Fond opaque */
  z-index: 3;
  opacity: 1;
  pointer-events: all;
  animation: loader 4.5s ease-in-out forwards;
}
.loader .square {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .square.square1 {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  animation: rotate1 2s linear infinite;
}
.loader .square.square1 .icon:nth-child(1) {
  top: 0;
  left: 0;
  color: red;
}
.loader .square.square1 .icon:nth-child(2) {
  bottom: 0;
  left: 0;
  color: orange;
}
.loader .square.square1 .icon:nth-child(3) {
  bottom: 0;
  right: 0;
  color: yellow;
}
.loader .square.square1 .icon:nth-child(4) {
  top: 0;
  right: 0;
  color: yellowgreen;
}
.loader .square.square2 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
  animation: rotate2 2s linear infinite reverse;
}
.loader .square.square2 .icon:nth-child(1) {
  top: 0;
  left: 0;
  color: cornflowerblue;
}
.loader .square.square2 .icon:nth-child(2) {
  bottom: 0;
  left: 0;
  color: rgb(0, 94, 255);
}
.loader .square.square2 .icon:nth-child(3) {
  bottom: 0;
  right: 0;
  color: palevioletred;
}
.loader .square.square2 .icon:nth-child(4) {
  top: 0;
  right: 0;
  color: purple;
}
.loader .square .icon {
  position: absolute;
  font-size: 30px;
}
@keyframes rotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(315deg); /* -45 + 360 */
  }
}
@keyframes loader {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Header */
header {
  padding: 10px;
}
header .arrow-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .arrow-logo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .arrow-logo .logo img {
  width: 197px;
}
header .arrow-logo .arrow {
  align-items: center;
  font-size: large;
}

/* Footer */
.footer {
  background-color: #353535;
}
.footer__logof {
  display: flex;
  justify-content: left;
  padding-top: 20px;
  margin-left: 20px;
}
.footer__logof__image {
  max-width: 150px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
  width: 120px;
  font-size: small;
}
.footer__link {
  display: flex;
  justify-content: left;
}
.footer__link ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.footer__link ul li {
  margin: 0 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}
.footer__link ul li a {
  color: white;
}
.footer__link ul li i {
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
  }
  .footer .footer__logof {
    padding-top: 10px;
    padding-right: 20px;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Page d'accueil */
.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  border-top: solid rgb(143, 130, 130);
  border-bottom: solid rgb(143, 130, 130);
  border-width: 1px 0 2px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.localisation i {
  padding: 10px;
}
.localisation input {
  background-color: inherit;
  color: black;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.explor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  margin-bottom: 50px;
  margin-top: 5px;
}
.explor h1 {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}
.explor p {
  color: rgb(121, 105, 105);
  padding: 0 20px;
  text-align: center;
}
.explor .button {
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  transition: background-color 0.3s ease;
  font-size: large;
  color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 50px;
}
.explor .button:hover {
  background: linear-gradient(to bottom, #fface8, #ae80e5);
}

.fonctionnement {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}
.fonctionnement__etapes {
  width: 100%;
  padding: 0;
}
.fonctionnement__etapes ul {
  padding: 0;
  margin: 0;
}
.fonctionnement__etapes ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.fonctionnement__etapes ul .etapes__i {
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  border: none;
  border-radius: 20px;
  position: absolute;
  color: white;
}
.fonctionnement__etapes ul li i {
  margin: 0 20px 0 20px;
}
.fonctionnement__etapes ul .etapes__boutton {
  padding: 30px;
  margin-left: 20px;
  border-radius: 30px;
  background-color: #F6F6F6;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fonctionnement__etapes ul .etapes__boutton .fa-store {
  color: #9356DC;
}
.fonctionnement__etapes ul .etapes__boutton .fa-mobile-screen-button, .fonctionnement__etapes ul .etapes__boutton .fa-list {
  color: rgb(121, 105, 105);
}

.restaurants {
  padding: 20px;
  background-color: #f2f2f2;
}
.restaurants__card {
  position: relative;
  margin-bottom: 20px;
}
.restaurants__card img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__card .card__nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: rgb(35, 90, 35);
  background-color: #99E2D0;
  padding: 5px;
}
.restaurants__card .card__content {
  position: relative;
}
.restaurants__card .card__content .content__title {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.restaurants__card .card__content .content__title h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.restaurants__card .card__content .content__title p {
  margin: 0;
}
.restaurants__card .card__content .content__heart {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}
.restaurants__card .card__content .content__heart .fa-heart {
  position: absolute;
  top: 22px;
  left: 0;
  font-size: 22px;
  transition: opacity 0.3s;
}
.restaurants__card .card__content .content__heart .fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
}
.restaurants__card .card__content .content__heart .fa-solid.fa-heart {
  opacity: 0;
  z-index: 1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.restaurants__card .card__content .content__heart:hover .fa-regular.fa-heart {
  opacity: 0;
}
.restaurants__card .card__content .content__heart:hover .fa-solid.fa-heart {
  opacity: 1;
}

@media (min-width: 1024px) {
  .localisation {
    border: none;
  }
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement ul .etapes__boutton {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement ul .etapes__boutton .etapes__texte {
    display: inline-block;
    white-space: nowrap;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.banner-image img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover; /* L'image couvre toute la bannière en gardant son aspect ratio */
}

.menu {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.menu__title {
  display: flex;
  z-index: 1;
  transform: translateY(-40px);
  background-color: #F6F6F6;
  margin-bottom: -10px;
  border-radius: 50px 50px 0 0; /* Coins arrondis en haut de la section */
  justify-content: center;
  padding: 0 50px;
}
.menu__title h1 {
  font-size: 28px;
  margin-left: 0;
  font-family: "Shrikhand", cursive;
  display: inline-block;
}
.menu__title .heart {
  font-size: 25px;
  position: relative;
  top: 25px;
  left: 15px;
}
.menu__title .heart .fa-heart {
  position: absolute;
  transition: opacity 0.3s; /* Transition douce pour le changement d'opacité */
  margin-right: 40px;
}
.menu__title .heart .fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
}
.menu__title .heart .fa-solid.fa-heart {
  opacity: 0; /* Initialement invisible */
  z-index: 1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.menu__title .heart:hover .fa-regular.fa-heart {
  opacity: 0; /* Lors du survol, rendre invisible */
}
.menu__title .heart:hover .fa-solid.fa-heart {
  opacity: 1; /* Lors du survol, rendre visible */
}
.menu__section {
  padding: 20px;
}
.menu__section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal !important;
  border-bottom: 3px solid;
  border-color: #99E2D0;
  width: 60px; /* Largeur de la bordure inférieure */
}
.menu__section h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.menu__section p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu__section ul {
  padding-left: 0px;
}
.menu__section .menu__items .menu__item {
  padding: 20px 0;
}
.menu__section .menu__items .menu__item .plat {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  text-align: left;
  border: none;
  border-radius: 15px; /* Coins arrondis */
  overflow: hidden; /* Masquer le débordement des éléments */
  padding: 10px;
}
.menu__section .menu__items .menu__item .plat h3, .menu__section .menu__items .menu__item .plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section .menu__items .menu__item .plat .plat-info {
  padding-left: 20px;
  flex: 1;
}
.menu__section .menu__items .menu__item .plat .price-check {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
}
.menu__section .menu__items .menu__item .plat .price-check .prix {
  transition: transform 0.3s ease; /* Animation du déplacement */
  padding-right: 20px;
  margin-bottom: 10px;
  padding-top: 30px;
}
.menu__section .menu__items .menu__item .plat .price-check .prix i {
  padding-left: 5px;
}
.menu__section .menu__items .menu__item .plat .price-check .check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #99E2D0;
  padding: 0 10px;
  right: -50px; /* Position initiale en dehors de la vue */
  opacity: 0;
  height: 100%;
  width: 40px;
  top: 0;
  font-size: 30px;
  transition: right 0.3s ease, opacity 0.3s ease; /* Animation de la position et de l'opacité */
}
.menu__section .menu__items .menu__item .plat .price-check .check-icon i {
  color: #99E2D0; /* Couleur du "V" */
  position: relative;
  z-index: 1; /* S'assurer que le "V" est au-dessus */
  background-color: white;
  border-radius: 50%;
}
.menu__section .menu__items .menu__item .plat:hover .prix {
  transform: translateX(-50px); /* Déplacement vers la gauche */
}
.menu__section .menu__items .menu__item .plat:hover h3, .menu__section .menu__items .menu__item .plat:hover p {
  width: 70%;
}
.menu__section .menu__items .menu__item .plat:hover .check-icon {
  right: 0; /* Déplacement dans la vue */
  opacity: 1; /* Devenir visible */
}
.menu:hover .menu__item {
  opacity: 1; /* Devenir visible */
  transform: translateY(0); /* Revient à la position initiale */
}
.menu__commander {
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  transition: background-color 0.3s ease;
  font-size: large;
  color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.menu__commander:hover {
  background: linear-gradient(to bottom, #fface8, #ae80e5);
}
.menu .entrees, .menu .plats, .menu .desserts {
  opacity: 0;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu .entrees {
  animation-delay: 1s;
}
.menu .plats {
  animation-delay: 2s;
}
.menu .desserts {
  animation-delay: 3s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */