@charset "UTF-8";
/* Variables */
/* Couleurs principales */
/* Couleurs de survol */
/* Couleur secondaire éclaircie de 10% pour les états de survol */
/* Couleur de fond */
/* Couleur de fond principale de la page */
/* Points de rupture pour les médias queries */
/* Largeur minimale de l'écran pour appliquer les styles de bureau */
/* Durées des transitions et animations */
/* Durée de la rotation accélérée */
/* Durée pendant laquelle le loader reste visible */
/* Autres variables */
/* Durée de la disparition */
/* Opacité du fond */
/* Balises générales */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

/* Mixins */
/* Mixin pour appliquer un filtre blanc au logo */
/* Mixin pour créer un bouton avec des styles de dégradé et des effets de survol */
.loader {
  position: fixed;
  top: 50%; /* Position initiale au centre de l'écran verticalement */
  left: 50%; /* Position initiale au centre de l'écran horizontalement */
  transform: translate(-50%, -50%); /* Ajustement pour centrer exactement */
  width: 120vw; /* Taille du loader pour couvrir tout l'écran horizontalement*/
  height: 100vh; /* Taille du loader pour couvrir tout l'écran verticalement */
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  z-index: 3; /* Priorité d'affichage supérieure pour le loader */
  opacity: 1; /* Loader visible au départ */
  pointer-events: none; /* Empêcher les interactions avec le contenu sous-jacent */
  animation: loader 4.5s ease-in-out forwards; /* Animation combinée de visibilité et de disparition du loader */
  /* Animation de rotation pour le premier carré */
  /* Animation de rotation pour le deuxième carré */
  /* Animation de disparition du loader */
}
.loader .square {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrage du contenu de chaque carré */
}
.loader .square.square1 {
  width: 100px; /* Taille du premier carré */
  height: 100px;
  top: 50%; /* Centrage vertical du premier carré */
  left: 50%; /* Centrage horizontal du premier carré */
  transform: translate(-50%, -50%); /* Ajustement pour centrer exactement le premier carré */
  transform-origin: center; /* Point d'origine des transformations au centre du carré */
  animation: rotate1 2s linear infinite; /* Animation de rotation constante */
}
.loader .square.square1 .icon:nth-child(1) {
  top: 0;
  left: 0;
  color: red;
}
.loader .square.square1 .icon:nth-child(2) {
  bottom: 0;
  left: 0;
  color: orange;
}
.loader .square.square1 .icon:nth-child(3) {
  bottom: 0;
  right: 0;
  color: yellow;
}
.loader .square.square1 .icon:nth-child(4) {
  top: 0;
  right: 0;
  color: yellowgreen;
}
.loader .square.square2 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
  animation: rotate2 2s linear infinite reverse; /* Animation de rotation constante inversée */
}
.loader .square.square2 .icon:nth-child(1) {
  top: 0;
  left: 0;
  color: cornflowerblue;
}
.loader .square.square2 .icon:nth-child(2) {
  bottom: 0;
  left: 0;
  color: rgb(0, 94, 255);
}
.loader .square.square2 .icon:nth-child(3) {
  bottom: 0;
  right: 0;
  color: palevioletred;
}
.loader .square.square2 .icon:nth-child(4) {
  top: 0;
  right: 0;
  color: purple;
}
.loader .square .icon {
  position: absolute;
  font-size: 30px;
}
@keyframes rotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotation complète */
  }
}
@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(315deg); /* Rotation totale de -45 + 360 degrés */
  }
}
@keyframes loader {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: all; /* Réactiver les interactions avec le contenu sous-jacent après la disparition */
  }
}

/* Header */
header {
  padding: 10px;
  /* Section contenant le logo et la flèche */
}
header .arrow-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Section du logo */
  /* Section de la flèche */
}
header .arrow-logo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .arrow-logo .logo img {
  width: 162px;
}
header .arrow-logo .arrow {
  font-size: large;
}

/* Footer */
/* Style général du footer */
.footer {
  background-color: #353535;
  /* Section du logo */
  /* Media query pour les écrans de taille desktop et plus */
}
.footer__logof {
  display: flex;
  justify-content: left; /* Alignement du logo à gauche */
  padding-top: 20px;
  margin-left: 20px;
}
.footer__logof__image {
  max-width: 150px;
  filter: invert(100%) saturate(0%);
  /* Filtre pour transformer le logo en blanc */
  width: 139px;
  width: 139px;
  height: 27px;
}
.footer__link {
  display: flex;
  justify-content: left; /* Alignement des liens à gauche */
}
.footer__link ul {
  padding: 0; /* Suppression des marges internes par défaut */
  display: flex;
  flex-direction: column; /* Affichage des liens en colonne */
}
.footer__link ul li {
  margin: 0 10px; /* Marges horizontales */
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
  height: 20px;
}
.footer__link ul li a {
  color: white; /* Couleur des liens */
}
.footer__link ul li i {
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    height: 114px;
  }
  .footer .footer__logof {
    padding-top: 10px;
    padding-right: 20px;
    height: 27px;
  }
  .footer .footer__logof__image {
    height: 20px;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Page d'accueil */
body {
  margin: 0;
}

.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.localisation i {
  padding: 10px;
  color: #353535;
  margin-left: 100px;
}
.localisation input {
  background-color: inherit;
  font-size: 1em;
  border: none;
}
.localisation input::-moz-placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 430;
  font-size: 16px;
}
.localisation input::placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 430;
  font-size: 16px;
}

.explor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  margin-bottom: 50px;
  margin-top: 4px;
}
.explor h1 {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}
.explor p {
  color: rgb(121, 105, 105);
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}
.explor .button {
  border: none;
  border-radius: 50px;
  width: 218px;
  height: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC); /* Applique un dégradé vertical du secondaire vers le primaire */
  transition: background-color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur au survol */
  font-size: 16px;
  color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin-bottom: 50px;
  margin-top: 15px;
}
.explor .button:hover {
  background: linear-gradient(to bottom, #fface8, #ae80e5); /* Change le dégradé de fond lorsque le bouton est survolé */
}

.fonctionnement {
  width: 100%;
  padding-top: 0;
  padding-left: 20px;
  margin-top: 0;
  box-sizing: border-box;
  background-color: white;
}
.fonctionnement__etapes {
  width: 100%;
  padding: 0;
}
.fonctionnement__etapes ul {
  padding: 0;
  margin: 0;
}
.fonctionnement__etapes ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.fonctionnement__etapes ul .etapes__i {
  margin-left: -10px;
  background-color: #9356DC;
  border: none;
  border-radius: 20px;
  position: absolute;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__etapes ul li i {
  margin: 0 20px 0 20px;
}
.fonctionnement__etapes ul .etapes__boutton {
  width: 100%;
  height: 72.38px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fonctionnement__etapes ul .etapes__boutton .fa-store {
  color: #9356DC;
}
.fonctionnement__etapes ul .etapes__boutton .fa-mobile-screen-button, .fonctionnement__etapes ul .etapes__boutton .fa-list {
  color: rgb(121, 105, 105);
}

.restaurants {
  padding: 20px;
  background-color: #f2f2f2;
}
.restaurants__card {
  position: relative;
  margin-bottom: 20px;
}
.restaurants__card img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__card .card__nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: rgb(35, 90, 35);
  background-color: #99E2D0;
  padding: 5px;
}
.restaurants__card .card__content {
  position: relative;
}
.restaurants__card .card__content .content__title {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.restaurants__card .card__content .content__title h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.restaurants__card .card__content .content__title p {
  margin: 0;
}
.restaurants__card .card__content .content__heart {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}
.restaurants__card .card__content .content__heart .fa-heart {
  position: absolute;
  top: 22px;
  left: 0;
  font-size: 22px;
  transition: opacity 0.3s;
}
.restaurants__card .card__content .content__heart .fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
}
.restaurants__card .card__content .content__heart .fa-solid.fa-heart {
  opacity: 0;
  z-index: 1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.restaurants__card .card__content .content__heart:hover .fa-regular.fa-heart {
  opacity: 0;
}
.restaurants__card .card__content .content__heart:hover .fa-solid.fa-heart {
  opacity: 1;
}

@media (min-width: 1024px) {
  .localisation {
    border: none;
  }
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement ul .etapes__boutton {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement ul .etapes__boutton .etapes__texte {
    display: inline-block;
    white-space: nowrap;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.banner-image img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover; /* L'image couvre toute la bannière en gardant son aspect ratio */
}

.menu {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.menu__title {
  display: flex;
  z-index: 1;
  transform: translateY(-40px);
  background-color: #F6F6F6;
  margin-bottom: -10px;
  border-radius: 50px 50px 0 0; /* Coins arrondis en haut de la section */
  justify-content: center;
  padding: 0 50px;
}
.menu__title h1 {
  font-size: 28px;
  margin-left: 0;
  font-family: "Shrikhand", cursive;
  display: inline-block;
}
.menu__title .heart {
  font-size: 25px;
  position: relative;
  top: 25px;
  left: 15px;
}
.menu__title .heart .fa-heart {
  position: absolute;
  transition: opacity 0.3s; /* Transition douce pour le changement d'opacité */
  margin-right: 40px;
}
.menu__title .heart .fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
}
.menu__title .heart .fa-solid.fa-heart {
  opacity: 0; /* Initialement invisible */
  z-index: 1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.menu__title .heart:hover .fa-regular.fa-heart {
  opacity: 0; /* Lors du survol, rendre invisible */
}
.menu__title .heart:hover .fa-solid.fa-heart {
  opacity: 1; /* Lors du survol, rendre visible */
}
.menu__section {
  padding: 20px;
}
.menu__section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal !important;
  border-bottom: 3px solid;
  border-color: #99E2D0;
  width: 60px; /* Largeur de la bordure inférieure */
}
.menu__section h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.menu__section p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu__section ul {
  padding-left: 0px;
}
.menu__section .menu__items .menu__item {
  padding: 20px 0;
}
.menu__section .menu__items .menu__item .plat {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  text-align: left;
  border: none;
  border-radius: 15px; /* Coins arrondis */
  overflow: hidden; /* Masquer le débordement des éléments */
  padding: 10px;
}
.menu__section .menu__items .menu__item .plat h3, .menu__section .menu__items .menu__item .plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section .menu__items .menu__item .plat .plat-info {
  padding-left: 20px;
  flex: 1;
}
.menu__section .menu__items .menu__item .plat .price-check {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
}
.menu__section .menu__items .menu__item .plat .price-check .prix {
  transition: transform 0.3s ease; /* Animation du déplacement */
  padding-right: 20px;
  margin-bottom: 10px;
  padding-top: 30px;
}
.menu__section .menu__items .menu__item .plat .price-check .prix i {
  padding-left: 5px;
}
.menu__section .menu__items .menu__item .plat .price-check .check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #99E2D0;
  padding: 0 10px;
  right: -50px; /* Position initiale en dehors de la vue */
  opacity: 0;
  height: 100%;
  width: 40px;
  top: 0;
  font-size: 30px;
  transition: right 0.3s ease, opacity 0.3s ease; /* Animation de la position et de l'opacité */
}
.menu__section .menu__items .menu__item .plat .price-check .check-icon i {
  color: #99E2D0; /* Couleur du "V" */
  position: relative;
  z-index: 1; /* S'assurer que le "V" est au-dessus */
  background-color: white;
  border-radius: 50%;
}
.menu__section .menu__items .menu__item .plat:hover .prix {
  transform: translateX(-50px); /* Déplacement vers la gauche */
}
.menu__section .menu__items .menu__item .plat:hover h3, .menu__section .menu__items .menu__item .plat:hover p {
  width: 70%;
}
.menu__section .menu__items .menu__item .plat:hover .check-icon {
  right: 0; /* Déplacement dans la vue */
  opacity: 1; /* Devenir visible */
}
.menu:hover .menu__item {
  opacity: 1; /* Devenir visible */
  transform: translateY(0); /* Revient à la position initiale */
}
.menu__commander {
  border: none;
  border-radius: 50px;
  width: 218px;
  height: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC); /* Applique un dégradé vertical du secondaire vers le primaire */
  transition: background-color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur au survol */
  font-size: 16px;
  color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.menu__commander:hover {
  background: linear-gradient(to bottom, #fface8, #ae80e5); /* Change le dégradé de fond lorsque le bouton est survolé */
}
.menu .entrees, .menu .plats, .menu .desserts {
  opacity: 0;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu .entrees {
  animation-delay: 1s;
}
.menu .plats {
  animation-delay: 2s;
}
.menu .desserts {
  animation-delay: 3s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */